/* Font Colors */

$base-font-size:20px;
$base-font-family: 'Roboto Mono', monospace;
$base-font-color:#2ded00;


/* Background Colors */

$primary-color:#2ded00;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#153219;


/* Showcase Area */

$showcase-height:500px;
$showcase-image:'../img/headphonesshowcase.jpg';
