/* Searchbox */

.search {


  h3{
    margin-top:0;
    padding-top:0;
  }

  input[type='search']{
    border:0;
    height: 50px;
    // width: 20%;
    border:2px solid $primary-color;
    font-size:18px;
    padding-left: 10px;
    padding-bottom: 5px;
    min-width: 500px;
}

button {
  border:0;
  background: none;
  padding: 0;
  vertical-align: top;
  margin-left:-5px;
}

}
