/* Lists */

.list {
  margin-bottom:30px;
  }

.list-feature {

  @extend .list;
  margin: 0;
  padding: 0;
  width: 80%;

  li {
    line-height: 3.5em;
    @include add-border(1px, #cccccc, bottom);
  }

  li:last-child{
    border:0;
  }

  span {

    vertical-align: top;
    font-size: 160%;
    padding-left: 15px;
  }
}

.list-comments li {
  padding: 10px 0 5px 0;
  @include add-border(1px, #cccccc, bottom);
}

.list-comments li:last-child {
  border:0;
}

.list-comments img {
  width: 100px;
}


// .fa-2{
//       font-size:18px;
//   }
//
//   .fa-3{
//         font-size:24px;
//     }
//
//     .fa-4x{
//           font-size:27px;
//       }
//
//       .fa-5{
//             font-size:35px;
//         }
//
//         .fa-6{
//               font-size:40px;
//           }

.block-light {
  padding-top: 30px;
}

.fa-primary {
  color:$primary-color;
  @include add-border(1px, $primary-color, all);
  border-radius:15px;
  padding:55px 15px 10px 15px;
  width: 70%;
  margin: 15px 0 !important;
  // margin-bottom:10px;
}

.check-primary {
  color: $primary-color;
}

.paragraph-primary {
  color:$primary-color;
}

/* HEADING HEADING HEADINGS */

.heading-primary {
  color:$primary-color;
  margin-top: 15px !important;
  }

.heading-primary-a {
      @extend .heading-primary;
      @include add-border(2px, $primary-color, bottom);
    }

.heading-secondary {
    color:$secondary-color;
    }

.heading-secondary-a {
      @extend .heading-secondary;
      @include add-border(2px, $secondary-color, bottom);
      font-size:45px;
    }

.heading-light {
      color:$light-color;
      }

.heading-light-a {
        @extend .heading-light;
        @include add-border (2px, $light-color, bottom);
        }

.heading-dark {
        color:$dark-color;
        }

.heading-dark-a {
        @extend .heading-dark;
        @include add-border (2px, $dark-color, bottom);
        }

// EMPHASIS TEXT //
  .em-primary {
    color:$primary-color;
  }

  .em-secondary {
    color:$secondary-color;
  }

  .em-light {
    color:$light-color;
  }

  .em-dark {
    color:$dark-color;
  }
